<div class="container">
    <h1>Classificação de Projetos</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_classificacao" data-classificacao="@asdf">Cadastrar Novo</button>
    <br>
    <div class="table-responsive" ng-show="myValue">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="90%">Descrição</th>
                    <th width="10%" class="text-center" colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="classificacao in classificacoes">
                    <td>{{ classificacao.descricao }}</td>
                    <td class="text-center">
                    	<a ng-click="editarClassificacao(classificacao.id)" class="glyphicon glyphicon-pencil clicavel" aria-hidden="true"></a>
                	</td>
                	<td class="text-center">
                    	<a ng-click="excluirClassificacao(classificacao.id)" class="glyphicon glyphicon-trash clicavel" aria-hidden="true"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="container">

    <div class="modal fade" id="modal_classificacao" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <form accept-charset="UTF-8" name="form_projeto_cadastro" ng-submit="salvarClassificacao(classificacao)" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Classificação de Projeto</h4>
                    </div>

                    <div class="modal-body">
                        
                        <input ng-model="classificacao.id" class="form-control" name="id" type="hidden">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="classificacao_descricao" class="form-label">Descrição:</label>
                                <input ng-model="classificacao.descricao" class="form-control" name="descricao" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success" id="button_salvar">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>