.lista-projeto-conhecimento-item :hover {
	background: #F6F6F6;
	cursor: pointer;
}

.titulo-home {
	text-align: center;
}

.clicavel, .clicavel:hover {
	cursor: pointer;
	text-decoration: none;
}

.btn-grid {
	float: right;
}