<div class="container">
	<h1>Gestão de conhecimento e Projetos</h1>
	<br />
	<form>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" ng-model="busca" class="form-control" placeholder="Assunto" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="true" ng-model="projeto" checked> Projeto
					</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="true" ng-model="conhecimento" checked> Gestão do Conheciomento
					</label>
				</div>
			</div>
		</div>
	</form>
	<br />
	<div class="row list-projeto-conhecimento">
		<div class="col-xs-6 col-lg-4 list-projeto-conhecimento-item" ng-repeat="obj in info.arr | homeFilter:projeto:conhecimento | filter:busca ">
			<div class="thumbnail">
				<div class="caption">
					<h4>{{obj.titulo}}</h4>
					<p>{{obj.descricao}}</p>
				</div>
			</div>
		</div>
	</div>
</div>