<div class="container">    
    <div id="login-box" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Entrar</div>
                <div style="float:right; font-size: 80%; position: relative; top:-18px"><a href="#" onclick="$('#login-box').hide(); $('#password-recover-box').show(); return false;">Recuperar Senha</a></div>
            </div>     
            <div style="padding-top:30px" class="panel-body" >
                <div ng-hide="error == null" class="alert alert-danger col-sm-12">{{error}}</div>
                <form class="form-horizontal" ng-submit="login()">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model="model.usuario" type="text" class="form-control" placeholder="Usuário ou E-mail" required="">
                    </div>
                	<div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model="model.senha" type="password" class="form-control" placeholder="Senha" required="">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                        	<button class="btn btn-success" type="submit" ng-click="login()">Login</button>
                          	<!-- <a id="btn-login" href="#" class="btn btn-success">Login</a> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >                                
                            	<a ui-sref="site.usuarioscadastro">
                                	Cadastrar-se
                            	</a>
                            </div>
                        </div>
                    </div>    
                </form>     
            </div>                     
        </div>  
    </div>
    <div id="password-recover-box" style="margin-top:50px;display: none;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Recuperar Senha</div>
            </div>     
            <div style="padding-top:30px" class="panel-body" >
                <div ng-hide="error == null" class="alert alert-danger col-sm-12">{{error}}</div>
                <div ng-hide="success == null" class="alert alert-success col-sm-12">{{success}}</div>
                <form class="form-horizontal" ng-submit="passwordRecover()">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model="model.usuario" type="text" class="form-control" placeholder="Usuário ou E-mail" required="">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                        	<button class="btn btn-success" type="submit" ng-click="passwordRecover()">Recuperar</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >                                
                            	<a href="#" onclick="$('#password-recover-box').hide(); $('#login-box').show(); return false;">
                                	Fazer login
                            	</a>
                            </div>
                        </div>
                    </div>    
                </form>     
            </div>                     
        </div>  
    </div>
</div>