<div class="container">
	<h1 class="titulo-home">Projetos & Conhecimentos</h1>
	
</div>	
	
	<br />
	
<div class="navbar-default">
<div class="container">	
	<br />
	<div class="row">
		<form class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">Pesquisa:</label>
						<input type="text" ng-model="busca" class="form-control" placeholder="Título, Conhecimento, Ano, Colaborador" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<label class="form-label">Origem:</label>
							<select class="form-control" multiple ng-model="origem">
								<option ng-repeat="item in info.filtros.origem.itens" value="{{item}}">{{info.filtros.origem.opcoes[item].legenda}} ({{info.filtros.origem.opcoes[item].quantidade}})</option>
							</select>
						</div>
						<div class="col-md-4">
							<label class="form-label">Ano:</label>
							<select class="form-control" multiple ng-model="ano">
								<option ng-repeat="item in info.filtros.ano.itens" value="{{item}}">{{info.filtros.ano.opcoes[item].legenda}} ({{info.filtros.ano.opcoes[item].quantidade}})</option>
							</select>
						</div>
						<div class="col-md-4">
							<label class="form-label">Produção acadêmica:</label>
							<select class="form-control" multiple>
								<option>Mustard</option>
								<option>Ketchup</option>
								<option>Relish</option>
							</select>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-4">
							<label class="form-label">Publico atendido:</label>
							<select class="form-control" multiple>
								<option>Mustard</option>
								<option>Ketchup</option>
								<option>Relish</option>
							</select>
						</div>
						<div class="col-md-4">
							<label class="form-label">Nível de conhecimento:</label>
							<select class="form-control" multiple ng-model="origem">
								<option>Mustard</option>
								<option>Ketchup</option>
								<option>Relish</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<br />
</div>
</div>
<div class="container">
	<br />
	<div class="row lista-projeto-conhecimento">
		<div ng-click="abrirDetalhe(obj)" class="col-xs-6 col-lg-4 lista-projeto-conhecimento-item" ng-repeat="obj in info.arr | SiteHomeFilter:[{nome:'origem', valores:origem}, {nome:'ano', valores:ano}] | filter:busca | orderBy:'titulo' ">
			<div class="thumbnail">
				<div class="caption">
					<h4>{{obj.titulo}}</h4>
					<p>{{obj.descricao}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('select').selectpicker();
</script>